
.dropbtn{
    background-color: limegreen;
    color: darkgreen;
    padding: 10px 16px;
    font-size: 16px;
/*    border-bottom: 2px solid black;*/
    border-radius: 50px;
    cursor: pointer;
    min-width: 300px;
    margin-left: 50%;
}
.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
/*    background-color: white;*/
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 50%;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
/*    background-color: #3e8e41;*/
}

h3{
    margin-top: 60px;
}
.safari{
    color: forestgreen;
    font-size: 3em;
}